@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-green-dark: #4C9734;
  --color-green-base: #4CAF50;
  --color-green-light: #75CF79;
  --color-blue-dark: #1883AA;
  --color-blue-base: #14A8DF;
  --color-blue-light: #45C4F3;
  --color-white-base: #F6F6F6;
  --color-white-ligth: #F0FAF0;
  --color-black-dark: #141514;
  --color-black-base: #313431;
  --color-red-base: #ED3338;
  --color-yellow-base: #FDB92E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}